<form [formGroup]="formGroup()" class="step-form-grid mt-4">
    <div class="full-width bidder-search-container">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nom de l'entreprise</mat-label>
            <input matInput formControlName="bidder_name" [matAutocomplete]="auto">
            @if (formGroup().get('bidder_id')?.value) {
            <button mat-icon-button matSuffix (click)="resetBidder()"><mat-icon>close</mat-icon></button>
            }
            <mat-autocomplete #auto="matAutocomplete">
                @for (bidder of (filteredBidders$ | async); track bidder.id) {
                <mat-option [value]="bidder.name" (onSelectionChange)="onBidderSelected(bidder)">{{ bidder.name
                    }}</mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <mat-form-field appearance="outline"><mat-label>Forme Juridique</mat-label><input matInput
            formControlName="legal_form"></mat-form-field>
    <mat-form-field appearance="outline"><mat-label>Numéro d'enregistrement</mat-label><input matInput
            formControlName="registration_number"></mat-form-field>
    <mat-form-field appearance="outline"><mat-label>Email</mat-label><input matInput formControlName="email"
            type="email"></mat-form-field>
    <mat-form-field appearance="outline"><mat-label>Téléphone</mat-label><input matInput
            formControlName="phone"></mat-form-field>
    <mat-form-field appearance="outline" class="full-width"><mat-label>Pays</mat-label><input matInput
            formControlName="country"></mat-form-field>
</form>