.step-form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.full-width {
    grid-column: 1 / -1;
}

.bidder-search-container {
    background-color: var(--color-surface-default);
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-border-default);
    margin-bottom: 1rem;
}