<form [formGroup]="liabilitiesForm" class="flex flex-col gap-8 animate-fade-in">

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
        <div class="financial-block" formGroupName="equity">
            <h3>Equity</h3>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <mat-form-field appearance="outline" class="finaces-input">
                    <mat-label>Share Capital</mat-label>
                    <input matInput type="number" formControlName="shareCapital">
                    <span matTextPrefix>MAD</span>
                </mat-form-field>

                <mat-form-field appearance="outline" class="finaces-input">
                    <mat-label>Reserves / Retained Earnings</mat-label>
                    <input matInput type="number" formControlName="retainedEarnings">
                    <span matTextPrefix>MAD</span>
                </mat-form-field>
            </div>
        </div>
        <div class="financial-block" formGroupName="nonCurrentLiabilities">
            <h3>Long-Term Debt</h3>
            <div class="grid grid-cols-1 gap-4">
                <mat-form-field appearance="outline" class="finaces-input">
                    <mat-label>Financial Debt (LTD)</mat-label>
                    <input matInput type="number" formControlName="longTermDebt">
                    <span matTextPrefix>MAD</span>
                </mat-form-field>
            </div>
        </div>
        <div class="financial-block" formGroupName="currentLiabilities">
            <h3>Current Liabilities</h3>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <mat-form-field appearance="outline" class="finaces-input">
                    <mat-label>Short-Term Financial Debt</mat-label>
                    <input matInput type="number" formControlName="shortTermDebt">
                    <span matTextPrefix>MAD</span>
                </mat-form-field>

                <mat-form-field appearance="outline" class="finaces-input">
                    <mat-label>Accounts Payable</mat-label>
                    <input matInput type="number" formControlName="accountsPayable">
                    <span matTextPrefix>MAD</span>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="total-bar text-warning">
        <span class="total-label">Total Liabilities & Equity ({{ year() }})</span>
        <span class="total-value">{{ totalLiabilities() | number:'1.2-2' }} MAD</span>
    </div>

</form>