// Respect du Fail-Fast SCSS
.financial-block {
    background-color: var(--color-surface-card);
    border: 1px solid var(--color-border-default);
    border-radius: 0.75rem; // xl
    padding: 1.5rem;

    // Surcharge MDC pour adapter les inputs au Dark Mode FinaCES
    ::ng-deep .mdc-text-field--outlined {
        --mdc-outlined-text-field-container-color: var(--color-surface-default);
        --mdc-outlined-text-field-outline-color: var(--color-border-default);
        --mdc-outlined-text-field-focus-outline-color: var(--color-primary);
        --mdc-outlined-text-field-hover-outline-color: var(--color-border-strong);
        --mdc-outlined-text-field-input-text-color: var(--color-content-primary);
        --mdc-outlined-text-field-label-text-color: var(--color-content-secondary);
    }
}

.total-bar {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}